body {
	color: #fff;
	background-color: #000;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	text-align: center;
}

main {
	width: 40%;
	margin: 0 auto;
	
}

section {
	padding: 30px;
	margin: 10px;
	background-color: #1d1d1d;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 25px;
}

a {
	color: #27e2a7;
}

button {
	color: #27e2a7;
	background-color: #000;
	height: 3em;
	width: 6em;
}

input {
	background-color: #27e2a7;
	font-size: 18px;
}